<h1>Projects</h1>

<div class="jumbotron text-center" ng-controller="projectsController">
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="prevProject()">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </button>
        </div>    
        <div class="col-sm-8">
            <h2>{{ projectName }}</h2>
            <p>{{ projectDescription }} </p>
            <a href="{{ projectLink }}">git</a>
            <p>
                General timeline of the work: {{ projectDate }}
            </p>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default" aria-label="Right Align" ng-click="nextProject()">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<!--     
    <p>
    <a href="https://github.com/rivulet-zhang/Twitter-Navigator">Twitter Navigator</a>
    </p>

    <p>

    <a href="https://github.com/phill117/Impromptune">Impromptune</a> is a Java application extending on the feature set of Zong! viewer, while also implementing a dynamic music generation based on the current loaded musical score. We took a static musicXML score viewer and added many features to it while using a Scrum software development methodology.</p>

    <ul>
        Notable Project Features:
        <li>
        Built JavaFX GUI around Zong! viewer
        </li>
        <li>
        Added Undo, Redo, Save, and Tabbed GUI Functionality.
        </li>
        <li>
        Incorporated on-screen Piano and options for individual note addition.
        </li>
        <li>
        Parses created composition into the MusicXML format.
        </li>
        <li>
        Allows Modification of loaded MusicXML files.
        </li>
        <li>
        Generates and displays new, dynamic music based on Markov Chaining and input parameters from parsing and analyzing the current composition.
        </li>
    </ul> -->
<!-- <ul>
Personal Responsibilities:
<li>Incorporated Zong! viewer into our project.</li>
<li>Developed Markov Chain</li>
<li>Implemented functionality to display newly added notes from input options</li>
<li>Worked with jacob on allowing modification of the loaded score and saving of that score.</li>
<li>Enabled ability to create new score and allow selection of Key,Tempo, etc.</li>
</ul> -->

    <!-- </p> -->

    <!-- <p>
        <a href="http://vacommunity.org/VAST+Challenge+2015">VAST Challenge 2015</a>
    </p>
    <p>
        <a href="https://www.cerias.purdue.edu/research/projects/home/detail/175/social_media_analytics_and_reporting_toolkit_smart" >Social Media Analytics and Reporting Toolkit (SMART)</a>
    </p>

    <p>
    Twitter Email Alert Response
    </p>

    <p>
    TwitIE Named Entity Recongition system research and evaluation - developed Java API on top of <a href="https://gate.ac.uk/family/embedded.html">GATE Embedded</a> w/<a href="https://gate.ac.uk/wiki/twitie.html">TwitIE</a> for automation of entity extraction in microblog corpora to be integrated into future projects
    </p>

    <p>
    Information Search and Management final research project in developing a query by humming system to detect hummed melodies and match likely songs
    </p>

    <p>
    Fiz / Flip - an interpreter shell for a simple functional language (in the spirit of LISP) from scratch written in C++ with Flex and Bison
    </p>
    
    <p>
    A robust alternative to bash Unix shell written in C++
    </p>

    <p>
    MyHTTPD - a lightweight multi-threaded/process Apache clone written in C/C++
    </p>

    <p>
    Oracle FastR - Oracle's implementation of the R stastical package for use in upcoming built-in smart data analytics in their database systems
    </p>

    <p>
    PeteTwitt - a Twitter clone initially built as a final project for a python programming course in my freshman year, which implemented the basic features of Twitter (new user creation, registration, posting tweets, replying, deleting), I refactored using Flask and SQLAlchemy
    </p>                      
    
    <p>The EPICS <a href="http://www.tadaproject.org/">TADA (Technology Assisted Dietary Assessment)</a> Project is a million-dollar, multi-year research project at Purdue that allows analysis of calories eaten from before and after pictures of food.  For the semester we were given the unfinished Android application and were required to implement features.</p>
    <ul>
    Features implemented:
    <li>Allowed application to scan multiple barcodes of everyday objects and display the barcodes scanned.</li>

    <li>Implemented ability to send the scanned barcodes to the backend server to be processed.</li>

    <li>Created and implemented GUI for scanning barcodes and displaying the status of the scanning.</li>
    </ul>
    </p>
    
    <p>
    JavaEE search engine/web crawler implemented with MySQL, JSoup and Tomcat
    </p>

    <p>
    simple Audacity clone (wav file audio editor): modification of loaded .wav formatted files such as: various effects, clipping and cutting of segments, copy/paste into new wavs/other open wavs
    </p>

    <p>
    fully functioning and robust multi-threaded Random Forest classifier system implemented with basic standard C libraries, tested on UCI Machine Learning repository datasets
    </p>

    <p>
    enemy wave spawning First Person Shooter Android game built w/<a href="http://unity3d.com/unity/">Unity3d</a> game engine
    </p>

    <p>
    Wedding RSVP CRUD application written w/MySQL and PHP, also had automatic emailing reports configured for the planning committee
    </p> 
</div> -->